footer{
    border-top: solid 1px white;
    height: 23vh;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
font-size: 17px;
    color: rgba(255, 255, 255, 0.76);
}
span{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
p{justify-content: space-between; display: flex; width: 65%; margin: 10% auto 0; } 
svg{
    color: #009c8f;
    scale: 1.5;
}
footer div{
    margin: 5% auto;
    width: 40vw;
    justify-content: space-around;
    display: flex;
}