.Home {
    margin-top: 15vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(228, 229, 235);
    overflow: hidden;
}

.Home h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    font-size: 45px;
}

.Home p {
    width: 100%;
    padding-left: 5%;
    margin: 5% 0 10%;
    font-size: 18px;
}

.Home button {
    margin: 0% 0 0% 5%;
    border-radius: 45px;
    border: none;
    font-size: 17px;
    background-color: #006d64;
    width: 40vw;
    height: 6vh;
    color: white;
    cursor: pointer;
}

.Home img {
    overflow: hidden;
    margin: 0% 2vw;
    cursor: none;
    display: flex;
    margin: 0%;
    width: 98vw;
    height: 93vw;
    padding-left: 4%;
    filter: drop-shadow(2px 2px 1px #ccf5f1);
}

.Home .mais{
    display: none;
}
@media(min-width:768px) {
    .Home {
        display: flex;
        height: 70vh;
        /* background-color: black; */
        /* padding-top: 5%; */
    }

    .Home .text {
        padding: 2% 4%;
        width: 50%;
    }

    .Home h1 {
        margin: 5% 0%;
        /* width: 0%; */
        /* background-color: #006d64; */
    }

    .Home p {
        /* background-color: #006d64; */
        /* width: 100%; */
        margin: 0%;
    }
    .Home .mais{
        display: flex;
    }
    .Home button {
        margin: 5%;
        width: 25%;
        height: 12%;
    }

    .Home img {
        scale: 1.2;
        margin-left: 5%;
        width: 40%;
        height: 100%;
        /* background-color: aqua; */
    }
}