.Navbar{
    border: solid 1px white;
    backdrop-filter:blur(100px);
    z-index: 3;
    width: 96vw;
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-radius: 35px;
    margin: 0% auto;
    position: fixed;
    left: 2%;
    top: 2%;
    overflow: hidden;
    justify-content: space-between;
}
.Navbar img{
    opacity: 1;
    width: 6vh;
    height: 6vh;
    margin-left: 4%;
}
.Navbar .Links{
    height: 8vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Navbar .Links a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:  #ffffff;
}